RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f


RewriteRule ^app/views/detailsPage/([0-9a-zA-Z_-]+)/([0-9]+) app/views/detailsPage.php?game=$1&id=$2 [NC,L]

RewriteRule ^app/views/detailsPage/([0-9a-zA-Z_-]+)/([0-9]+) app/views/detailsPage.php?game=$1&id=$2 [NC,L]


RewriteRule ^home/ index.php [NC,L]




